.footer {
  padding: 40px 0;
  background-color: #6c63ff;
  text-align: center;
  color: #fff;
}

.socialIconsMobile{

  display: flex;
  gap: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.policies {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.policies .column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.policies .column span,
.policies .column a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.policies .column span:hover,
.policies .column a:hover {
  color: #e0e0ff;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.icon {
  color: #fff;
  font-size: 2rem;
  transition: color 0.3s ease;
}

.icon:hover {
  color: #e0e0ff;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: #fff;
  margin: 20px 0;
}

.copyright {
  font-size: 1.2rem;
  display: flex;
  gap: 10px;
  align-items: center;
}

/* Media Queries */
@media (min-width: 768px) {
  .policies {
    flex-direction: row;
    justify-content: space-between;
  }

  .policies .column {
    flex: 1;
  }
}

@media (max-width: 767px) {
  .socialIconsMobile {
    gap: 20px;
  }
}
